{% extends "base.html" %}

{% block content %}

{% if errors %}
  <div class="alert alert-danger" role="alert">
    <strong>Errors:</strong>
    <ul class="list-unstyled">
        {% for err in errors %}
          <li>{{err}}</li>
        {% endfor %}
    </ul>
  </div>
{% endif %}

{% if not_auth_warn %}
  <div class="alert alert-danger" role="alert">Not authenticated</div>
{% endif %}

{% if paint_logout %}
  {% if vpn_access %}
    <h2>Success!</h2>
    <p>This is using Wireguard for VPN. Get a native application for your
       operating system from the official
       <a href='https://www.wireguard.com/install' target="_blank">Wireguard website</a>.
    </p>
    <p>Below you can see your Wireguard configuration. To add it,
      <ol>
        <li>Open your text editor (Windows Editor or macOS TextEdit)</li>
        <li>Copy and paste the below configuration</li>
        <li>Save the file as "wireguard.conf"</li>
        <li>Open the Wireguard application</li>
        <li>Click "+", "Import tunnel from file", find and open "wireguard.conf"</li>
        <li>Once imported, delete "wireguard.conf"</li>
      </ol>
      To get connected, click "Activate".
    </p></br>
  {% else %}
    <h2>Whoops</h2>
    <p>Are you allowed to be here...?</p></br>
  {% endif %}
    <pre>{{ vpn_config }}</pre>
{% else %}
  <p>Please authenticate to continue...</p>
  <a href="?sso" class="btn btn-primary">Authenticate</a>
{% endif %}

{% endblock %}
