<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wired VPN</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="container w-50">
      <h1 class="mt-4">Wired VPN</h1>
      </br>
      <p>Below is your <a href="https://www.wireguard.com/install/">WireGuard</a> configuration file.</p>
      {*view*}
    </div>
  </body>
</html>
